<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<link rel="stylesheet" href="../static/lay/css/layui.css">
<script src="../static/lay/layui.js"></script>
<script>

    layui.use(['layer','form','jquery'], function(){
        var form = layui.form
            ,layer = layui.layer
            ,$ = layui.$

      $.ajax({
          type: "get",
          url: "/getUserInfo",
          success: function (result) {
              if (result.code === "200"){
                  let student = result.data;
                  $("#userNo").val(student.userNo);
                  $("#name").val(student.name);
                  $("#password").val(student.password);
              }
          }
      });

        form.on('submit(edit)', function(data){
          $.ajax({
              type: "get",
              url: "/edit",
              data:{
                  name: $("#name").val(),
                  password:$("#password").val()
              },
              success: function (result) {
                  if (result.code === "200"){
                      layer.msg("修改成功",{icon:1, time: 100},function(){
                          //用window写会导致嵌套
                          //通过?id=b1 去mian ，刷新的时候用它来判断使用哪个frame们这里为了防止跳转到默认
                          //所以加了参数
                          top.location.href="/main.html?id=b1";
                      })
                  }
              }
          });
          return false;
      });



  });
</script>

<!--返回主页面-->
<script>
    layui.use(['jquery'], function(){
        var $ = layui.$;
        $("#back").click(function(){
            top.location.href="/main.html?id=b3";
        });
    })
</script>
<body>

<div id="kPage" class="layui-fluid" style="padding: 0">
    <div class="layui-row kvf-fluid-padding15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">我的资料</div>
                <div class="layui-card-body">
                    <div class="layui-form">
                        <div class="layui-form-item">
                            <label class="layui-form-label">用户头像</label>
                            <div class="layui-input-inline" style="text-align: center">
                                <img id="avatarImg" src="../pic/99.png" height="200" width="200">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">学号</label>
                            <div class="layui-input-inline">
                                <input type="text" id="userNo" readonly  autocomplete="off" class="layui-input">
                            </div>
                            <div class="layui-form-mid layui-word-aux">不可修改。一般用于登入名</div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">姓名</label>
                            <div class="layui-input-inline">
                                <input type="text" id="name"  lay-verify="required" placeholder="请输入姓名" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">密码</label>
                            <div class="layui-input-inline">
                                <input type="text" id="password"  lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input">
                            </div>

                        </div>

                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button class="layui-btn" lay-submit="" lay-filter="edit">确认修改</button>
                                <button class="layui-btn" lay-submit=""  id="back">返回</button>


                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>