<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ajax login page</title>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.js"></script>
    <script>
        <!--    使用post请求发送-->
        $(function () {
            $('#ajax_btn').click(function () {
                //获取用户名和密码
                var user = {};

                user["username"] = $('#username').val();
                user["password"] = $('#password').val();
                //发起Ajax请求
                $.ajax({
                    'type':'post',
                    'url':'/user',
                    'data':JSON.stringify(user),
                    'contentType':'application/json',
                    'datatype':'json',
                    'async':'true',
                    'success':function (data) {
                        //成功后的回调函数
                        if (data === "succ"){
                            alert("登录成功")　　　　　　　　　　　　//成功返回首页
                            //location.href('/index')
                        }else{　　　　　　　　　　　　　　//失败打印出错误信息
                            $('#errmsg').show().html('error! username or password is wrong!')
                        }
                    }
                });
            })
        })
    </script>
    <link  href="static/style.css">
</head>
<body>
<div>
    username:<input type="text" id="username"><br/>
    password:<input type="password" id="password"><br/>
    <input type="button" value="login" id="ajax_btn">
</div>
<div id="message"></div>
<div id="errmsg"></div>
</body>
</html>