<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link rel="stylesheet" href="static/lay/css/layui.css">
<script src="static/lay/layui.js"></script>
<style>
    body{
        background-color: green;
        overflow:hidden
    }
    .main{
        width: 500px;
        height: 500px;
        margin: 100px auto;
        background-color: white;
    }
    h1{
        font-weight: bolder;
        color: teal;
        text-align: center;
        display: block;
        padding-top: 50px;
    }
    .form{
        margin-top: 50px;
    }
    .layui-form-label{
        font-weight: bolder;
    }
    .submit-btn{
        margin-top: 50px;
    }
</style>

<script>

    layui.use(['layer','form','jquery'], function(){
        var form = layui.form
            ,layer = layui.layer
            ,$ = layui.$
        //监听提交
        form.on('submit(register)', function(data){
            $.ajax({
                type:"get",
                url:"/register",
                data:{
                    name:data.field.studentName,
                    password:data.field.password,
                    studentNo:data.field.studentNo
                },
                success:function(result){
                    if(result.code === "1000"){
                        layer.msg("注册成功",{icon:1, time: 100},function(){
                            window.location.href="/index.html";
                        })
                    }else{
                        layer.msg(result.message,{icon:5})
                    }
                }
            })
            return false;
        });

    });
</script>

<body>
<div class="main">
    <h1>注册页面</h1>
    <div class="form">
        <form class="layui-form" action="">

            <div class="layui-form-item">
                <label class="layui-form-label">学号</label>
                <div class="layui-input-inline">
                    <input type="text" name="studentNo" lay-verify="title" placeholder="请填写学号" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux">请填写学号</div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">姓名</label>
                <div class="layui-input-inline">
                    <input type="text" name="studentName" lay-verify="title" autocomplete="off" placeholder="请输入账号" class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux">请填写姓名</div>

            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">密码</label>
                <div class="layui-input-inline">
                    <input type="password" name="password" lay-verify="title" placeholder="请输入密码" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux">请填写密码</div>
            </div>


            <div class="layui-form-item">
                <div class="layui-input-block submit-btn">
                    <button type="submit" class="layui-btn" lay-submit="" lay-filter="register">立即提交</button>
                    <a href="/index.html"><button  type="button" class="layui-btn layui-btn-primary">返回</button></a>
                </div>
            </div>
        </form>
    </div>
</div>



</body>
</html>